<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
</head>
<body>
	<table id="customers">
		<thead>
			<tr>
				<th>
					<p>ID</p>
				</th>
				<th>
					<p>Tytuł</p>
				</th>
				<th>
					<p>Autor</p>
				</th>
				<th>
					<p></p>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td>
					<p th:text="${book.id}">id</p>
				</td>
				<td>
					<p th:text="${book.title}">title</p>
				</td>
				<td>
					<p th:text="${book.authors}">author</p>
				</td>
				<td>
					<p><a th:href="@{/books/delete(id=${book.id})}"> <button type="button" class="btn">Usuń książkę</button></a></p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>